.button{
    color: aliceblue;
    background-color: darkblue;
    border-radius: 25px;
}

body {
    background-color: #b4c0d8;
    align-content: center;
    font-family: sans-serif
}

p {
    font-family: sans-serif
}

input {
    font-family: sans-serif;
}
table {
    border-collapse: collapse;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  
  th, td {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
  }
  
  th {
    background-color: #dddddd;
  }
  
  tr {
    transition: all 0.5s;
  }
  
  tr:hover {
    background-color: #ffffff;
  }
  
  td {
    transition: all 0.5s;
  }
  
  td:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transform: scale(1.1);
  }
  