.button{
    color: aliceblue;
    background-color: darkblue;
    border-radius: 25px;
}

body {
    background-color: #9eb0d2;
    align-content: center;
    font-family: sans-serif
}

p {
    font-family: sans-serif
}

input {
    font-family: sans-serif;
}